@import url('https://fonts.googleapis.com/css?family=Roboto');

.define--loading {
    margin-top: 50px;
    text-align: center;
    font-family: Helvetica;
}


.category--heading {
    display: flex;
}

.category--item {
    font-family: "Roboto";
    cursor: pointer;
    padding: 10px;
    border: 1px solid #CCC;
    margin: 4px;
}
