@import url('https://fonts.googleapis.com/css?family=Roboto');

.define--loading {
    margin-top: 150px;
    text-align: center;
    font-family: Helvetica;
    font-size: 30px;
}

.define--failed {
    margin-top: 150px;
    text-align: center;
    font-family: Helvetica;
    font-size: 30px;
}

.define--failed > div {
    margin-top: 10px;
    font-size: 20px;
}

.define--loading > div {
    margin-top: 10px;
    font-size: 20px;
}


.category--heading {
    display: flex;
}

.category--item {
    font-family: "Roboto";
    cursor: pointer;
    padding: 10px;
    border: 1px solid #CCC;
    margin: 4px;
}
